<h2 class="content__title">Все пиццы</h2>
<div class="content__items">
  <div class="pizza-block">
    <img
      class="pizza-block__image"
      src="https://dodopizza-a.akamaihd.net/static/Img/Products/Pizza/ru-RU/b750f576-4a83-48e6-a283-5a8efb68c35d.jpg"
      alt="Pizza"
    />
    <h4 class="pizza-block__title">Чизбургер-пицца</h4>
    <div class="pizza-block__selector">
      <ul class="pizza-block-list">
        <li class="pizza-block-item-active">тонкое</li>
        <li class="pizza-block-item">традиционное</li>
      </ul>
      <ul class="pizza-block-list">
        <li class="pizza-block-item-active">26 см.</li>
        <li class="pizza-block-item">30 см.</li>
        <li class="pizza-block-item">40 см.</li>
      </ul>
    </div>
    <div class="pizza-block__bottom">
      <div class="pizza-block__price">от 395 ₽</div>
      <div class="button button--outline">
        <button class="btn">
          <img class="btn__svg" src="assets/img/Plus.svg" alt="Plus">
        </button>
        <span class="btn__text">Добавить</span>
        <i class="btn__badge">2</i>
      </div>
    </div>


  </div>
  <div class="pizza-block">
    <img
      class="pizza-block__image"
      src="https://dodopizza-a.akamaihd.net/static/Img/Products/Pizza/ru-RU/b750f576-4a83-48e6-a283-5a8efb68c35d.jpg"
      alt="Pizza"
    />
    <h4 class="pizza-block__title">Чизбургер-пицца</h4>
    <div class="pizza-block__selector">
      <ul class="pizza-block-list">
        <li class="pizza-block-item-active">тонкое</li>
        <li class="pizza-block-item">традиционное</li>
      </ul>
      <ul class="pizza-block-list">
        <li class="pizza-block-item-active">26 см.</li>
        <li class="pizza-block-item">30 см.</li>
        <li class="pizza-block-item">40 см.</li>
      </ul>
    </div>
    <div class="pizza-block__bottom">
      <div class="pizza-block__price">от 395 ₽</div>
      <div class="button button--outline button--add">
        <button class="btn">
          <img class="btn__svg" src="assets/img/Plus.svg" alt="Plus">
        </button>
        <span class="btn__text">Добавить</span>
        <i class="btn__badge">2</i>
      </div>
    </div>


  </div>
  <div class="pizza-block">
    <img
      class="pizza-block__image"
      src="https://dodopizza-a.akamaihd.net/static/Img/Products/Pizza/ru-RU/b750f576-4a83-48e6-a283-5a8efb68c35d.jpg"
      alt="Pizza"
    />
    <h4 class="pizza-block__title">Чизбургер-пицца</h4>
    <div class="pizza-block__selector">
      <ul class="pizza-block-list">
        <li class="pizza-block-item-active">тонкое</li>
        <li class="pizza-block-item">традиционное</li>
      </ul>
      <ul class="pizza-block-list">
        <li class="pizza-block-item-active">26 см.</li>
        <li class="pizza-block-item">30 см.</li>
        <li class="pizza-block-item">40 см.</li>
      </ul>
    </div>
    <div class="pizza-block__bottom">
      <div class="pizza-block__price">от 395 ₽</div>
      <div class="button button--outline">
        <button class="btn">
          <img class="btn__svg" src="assets/img/Plus.svg" alt="Plus">
        </button>
        <span class="btn__text">Добавить</span>
        <i class="btn__badge">2</i>
      </div>
    </div>


  </div>
  <div class="pizza-block">
    <img
      class="pizza-block__image"
      src="https://dodopizza-a.akamaihd.net/static/Img/Products/Pizza/ru-RU/b750f576-4a83-48e6-a283-5a8efb68c35d.jpg"
      alt="Pizza"
    />
    <h4 class="pizza-block__title">Чизбургер-пицца</h4>
    <div class="pizza-block__selector">
      <ul class="pizza-block-list">
        <li class="pizza-block-item-active">тонкое</li>
        <li class="pizza-block-item">традиционное</li>
      </ul>
      <ul class="pizza-block-list">
        <li class="pizza-block-item-active">26 см.</li>
        <li class="pizza-block-item">30 см.</li>
        <li class="pizza-block-item">40 см.</li>
      </ul>
    </div>
    <div class="pizza-block__bottom">
      <div class="pizza-block__price">от 395 ₽</div>
      <div class="button button--outline">
        <button class="btn">
          <img class="btn__svg" src="assets/img/Plus.svg" alt="Plus">
        </button>
        <span class="btn__text">Добавить</span>
        <i class="btn__badge">2</i>
      </div>
    </div>

  </div>
</div>
