.sort__block {
  display: flex;
  align-items: center;
  height: 46px;
  margin-top: auto;
  position: relative;
}

.sort__label-text {
  font-size: 14px;
  color: #FE5F1E;
  margin-left: 8px;
  border-bottom: 1px dotted #FE5F1E;
  cursor: pointer;
}

.sort__vector{
  margin-right: 7px;
  cursor: pointer;
}

b{
  color: #2C2C2C;
}
