.sort__block {
  display: flex;
  align-items: center;
  height: 46px;
  margin-top: auto;
  position: relative;
}

.sort__label-text {
  font-size: 14px;
  color: #FE5F1E;
  margin-left: 8px;
  border-bottom: 1px dotted #FE5F1E;
}

.sort__popup {
  border-radius: 30px;
}

.sort__vector{
  margin-right: 7px;
}

.sort__popup-list {
  list-style: none;
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  background-color: #FFFFFF;

}

.sort__popup-item {
  background-color: #f9f9f9;
  padding: 13px 30px;

  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

b{
  color: #2C2C2C;
}
