<div class="sort">
  <div class="filter">
    <div class="filter__container container">
      <button disabled type="button" class="tag _active">Все</button>
      <button class="filter__tag tag--brand tag _disabled">Мясные</button>
      <button class="filter__tag tag--brand tag _disabled">Вегетерианская</button>
      <button class="filter__tag tag--brand tag _disabled">Гриль</button>
      <button class="filter__tag tag--brand tag _disabled">Острые</button>
      <button class="filter__tag tag--brand tag _disabled">Закрытые</button>

      <div class="sort__block">
        <div class="sort__label">
          <img src="assets/img/Vector.svg" alt="">
          <b>Сортировка по:</b>
          <span class="sort__label-text">популярности</span>
        </div>
        <div class="sort__popup">
          <ul class="sort__popup-list">
            <li class="sort__popup-item sort__popup-active">популярности</li>
            <li class="sort__popup-item">цене</li>
            <li class="sort__popup-item">алфавиту</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
